* {
    margin: 0;
    font-family: "Nata Sans", sans-serif;
    text-align: center;
}
h1, p, a {
    color: white;
}
body {
    background-color: #0C6163;
}
header {
    color: white;
    text-align: center;
    background-color: #746c70;
}
form {
    color: black;
    display: inline-block
}